@import 'core';
@import "articles-card";

#travel-map {
  width: 100%;
  height: 550px;
}

#search-nav {
  background-color: rgba(63,81,181,0.9);
}

#search-input {
  background-color: white;
}

.text-center {
  text-align: center;
  width: 100%;
}
